@import "tailwindcss";

:root {
  --background: #f8fafc;
  --foreground: #334155;
  --card-bg: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-sans);
}

body {
  background-color: var(--background) !important;
  color: var(--foreground) !important;
  font-family: var(--font-sans), sans-serif;
}